# env file
.env

# local env files
.env.local
.env.*.local

# venv
venv/*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# .pyc 
*.pyc
.eggs/*
.egg*
./src/legal_api.egg*
# .csv
*.csv